.loginpage {
  height: 100%;
  .wrapper {
    height: 100%;
    padding-top: 200px;
    form {
      background-color: #f0f2f5;
      margin: 0 auto;
      max-width: 300px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 6px 18px rgba(11,20,26,.05);
      .modal-input{
        border: 1px solid black ;
        border-radius: 6px;
        width: 250px;
        padding: 5px 6px 7px 8px;
      }
  
      .modal-input-label{
        font-size: 12px;
        margin-bottom: 4px;
      }
    }


  }
}
